* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

p, h1, h2, h3 {
    padding: 10px;
}

ul li{
    padding-left: 10px;
    display: inline-block;
}

main, .container {
    margin: 0 auto;
    padding: 20px;
    width: 960px;
}

.form-element{
    width: 100%;
}

table{
    width: 100%;
    border-collapse: collapse;
}
tr {
    border-bottom: 1px solid #cecece;
}
tr:first-of-type td{
    border-top: 1px solid #cecece;
}
td {
    padding: 5px;
    border-left: 1px solid #cecece;
}
td:last-of-type{
    border-right: 1px solid #cecece;
}

input, textarea, select{
    width: 100%;
    padding: 5px;
    margin: 10px;
}

td input{
    margin: 0px;
}

.search{
    width: 200px;
}
